In [1]:
# Import Libraries
import pandas as pd
from pathlib import Path

In [2]:
#File 1
csv_path = Path("bytecode.csv")
#File 2
#csv_path = Path("bytecode1.csv")
#File 3
#csv_path = Path("bytecode2.csv")
bytecode = pd.read_csv(csv_path, header=None)

In [3]:
bytecode.columns = ['Operation', 'Value']

In [4]:
#bytecode['Value'] = bytecode.Value.astype(int)

In [5]:
#bytecode
bytecode.head(10)

   Operation Value
0   LOAD_VAL     1
1  WRITE_VAR     X
2   LOAD_VAL     2
3  WRITE_VAR     Y
4   READ_VAR     X
5   LOAD_VAL     1
6        ADD   NaN
7   READ_VAR     Y
8   MULTIPLY   NaN
9     RETURN   NaN

In [6]:
print(bytecode)

   Operation Value
0   LOAD_VAL     1
1  WRITE_VAR     X
2   LOAD_VAL     2
3  WRITE_VAR     Y
4   READ_VAR     X
5   LOAD_VAL     1
6        ADD   NaN
7   READ_VAR     Y
8   MULTIPLY   NaN
9     RETURN   NaN

In [7]:
print(type(bytecode))

<class 'pandas.core.frame.DataFrame'>

In [8]:
wa_operation = []
wa_variables = {}

In [9]:
i=0
for index, row in bytecode.iterrows():
    i=i+1
#     if i>9:
#         break
    #print(row[0])
    if row[0] == 'LOAD_VAL':
        print(' *** LOAD_VAL *** ')
        print(row[0], ' ', row[1])
        #print(row[1])
        if row[1].isnumeric():
            #print('numeric')
            #print(type(row[1]))
            wa_operation.append(int(row[1]))
    if row[0] == 'WRITE_VAR':
        l_var = row[1]
        print(' *** WRITE_VAL *** ')
        print(row[0], ' ', row[1])
        # check if variable aleadt in list then replace it.
        # otherise add
        # But add the latest element from wa_operation
        
        # get last element frmo wa_operation to create variable value
        l_oper_len = len(wa_operation)
        l_last_val = wa_operation.pop()
        print(' Last val = ', l_last_val)
        l_val_exists = '0'
        for key, val in wa_variables.items():
            if key == row[1]:
                print(' Var aleady exists')
                l_val_exists = '1'
        if l_val_exists == '0':
            # then store this new variable
            wa_variables[row[1]] = l_last_val
        if l_val_exists == '1':
            # overwrite with new value
            wa_variables[row[1]] = l_last_val
    if row[0] == 'READ_VAR':
        l_var = row[1]
        print(' *** READ_VAR *** ')
        print(row[0], ' ', row[1]) 
        l_val_exists = '0'
        for key, val in wa_variables.items():
            if key == row[1]:
                print(' Read value var exists')
                l_val_exists = '1'
                # then read this into wa_operation area
                print(' Read var value found is: ', val)
                wa_operation.append(val)
        if l_val_exists == '0':
            # then this is a problem ERROR
            l_error = '1'
            print('***** ERROR - read var w/o existing variable set **** ')
            break
    if row[0] == 'ADD':
        # take last 2 wa_operation elements and add them and remove from list
        try: 
            add1 = wa_operation.pop()
            print(' last item in wa_oper: ', add1)
            add2 = wa_operation.pop()
            print(' 2nd last item in wa_oper: ', add1)
            l_result = add1 + add2
            print(' add result = ', l_result)
            wa_operation.append(l_result)
        except BaseException as err:
            print('***** ERROR in ADD **** ')
            break
    if row[0] == 'MULTIPLY':
        try: 
            # take last 2 wa_operation elements and multiply them and remove from list
            add1 = wa_operation.pop()
            print(' last item in wa_oper: ', add1)
            add2 = wa_operation.pop()
            print(' 2nd last item in wa_oper: ', add1)
            l_result = add1 * add2
            print(' multiply result = ', l_result)
            wa_operation.append(l_result)
        except BaseException as err:
            print('***** ERROR in MULTIPLY **** ')
            break
    if row[0] == 'RETURN':
        print(' Success - no errors in the program')

 *** LOAD_VAL ***
LOAD_VAL   1
 *** WRITE_VAL ***
WRITE_VAR   X
 Last val =  1
 *** LOAD_VAL ***
LOAD_VAL   2
 *** WRITE_VAL ***
WRITE_VAR   Y
 Last val =  2
 *** READ_VAR ***
READ_VAR   X
 Read value var exists
 Read var value found is:  1
 *** LOAD_VAL ***
LOAD_VAL   1
 last item in wa_oper:  1
 2nd last item in wa_oper:  1
 add result =  2
 *** READ_VAR ***
READ_VAR   Y
 Read value var exists
 Read var value found is:  2
 last item in wa_oper:  2
 2nd last item in wa_oper:  2
 multiply result =  4
 Success - no errors in the program

In [10]:
if i == 0:
    print('TOTAL check - Nothing processed so Homework is failure')

In [11]:
print(wa_operation)

[4]

In [12]:
print(wa_variables)

{'X': 1, 'Y': 2}